<h3>Show roles</h3>
<p id="notice"><%= notice %></p>

<ul>

  <li><b>Id: </b><%= @role.id %></li>
  <li><b>Role: </b><%= @role.role %></li>
  <li><b>Description: </b><%= @role.description %></li>
  <li><b>Created:</b> <%= @role.created_at %></li>
  <li><b>Updated:</b> <%= @role.updated_at %></li>
</ul>

<%#= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
